@import "../../../admin/default/scss/themes/default/variables";

/*======================================================
 Typography
=======================================================*/
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, sans-serif;
}

/*======================================================
 Login|Register|Resetting Page
=======================================================*/
#app-login {
  background: linear-gradient(-45deg, #2196f3, #1565c0);
  z-index: 1;
  min-height: 100%;
  height: auto !important;
  .container {
    max-width: 350px;
    padding: 0;
  }
  .auth {
    padding: 40px 0;
    .logo {
      display: block;
      text-align: center;
      width: 100%;
      img {
        max-height: 100px;
      }
    }
    form {
      background: #FFF;
      border-radius: 10px;
      padding: 40px;
      margin-top: 30px;
      position: relative;
      &:before {
        position: absolute;
        content: " ";
        background: rgba(255, 255, 255, 0.6);
        top: -8px;
        height: 50px;
        border-radius: 10px;
        left: 10px;
        right: 10px;
      }
      .header {
        margin-bottom: 1.6rem;
        position: relative;
        .title {
          font-weight: 400;
          line-height: 1.6em;
          letter-spacing: 2px;
          color: #e91e63;
          text-transform: uppercase;
          margin: 0;
          white-space: nowrap;
          font-size: 1.8rem;
          overflow: hidden;
          &:after {
            content: ' ';
            position: absolute;
            background: #e91e63;
            width: 5px;
            height: 100%;
            left: -40px;
          }
        }
        .float-icon {
          position: absolute;
          right: -70px;
          top: 0;
          width: 4rem;
          a {
            height: 4rem;
            width: 4rem;
            border-radius: 4rem;
            line-height: 4rem;
            color: #FFF;
            display: inline-block;
            text-align: center;
            margin-bottom: 15px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
            transition: box-shadow 0.3s ease;
            &:hover {
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
            }
            i {
              font-size: 2rem;
              vertical-align: middle;
            }
            &.add {
              background: #e91e63;
            }
            &.forgot {
              background: #1E72C4;
            }
          }
        }
      }
      .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 12px 14px;
        font-size: 1.1rem;
      }
      .submit {
        text-align: center;
      }
      [type=submit] {
        text-transform: uppercase;
      }
    }
  }
}
