<?php

$fileHeaderComment = <<<COMMENT
This file is part of the pdAdmin package.

@package     pd-admin
@license     LICENSE
@author      Ramazan APAYDIN <apaydin541@gmail.com>
@link        https://github.com/appaydin/pd-admin
COMMENT;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('config')
    ->exclude('var')
    ->exclude('public')
    ->exclude('assets')
    ->exclude('templates')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit75Migration:risky' => true,
        'php_unit_dedicate_assert' => ['target' => '5.6'],
        'array_syntax' => ['syntax' => 'short'],
        'fopen_flags' => false,
        'protected_to_private' => false,
        'combine_nested_dirname' => true,
        'header_comment' => ['header' => $fileHeaderComment, 'separate' => 'both', 'commentType' => 'PHPDoc'],
    ])
    ->setFinder($finder)
    ->setCacheFile(__DIR__.'/var/cache/.php_cs.cache')
;
