<!doctype html>
<html lang="tr">
<head>
    {# Tags #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emlak PRO Web Bundle</title>

    {# Assets #}
    <link rel="stylesheet" href="{{ asset('app.min.css', 'web') }}">
    <script src="{{ asset('app.min.js', 'web') }}"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>