/*======================================================
 Override Bootstrap Variables
=======================================================*/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$body-color: #4a5073;
$headings-color: #262b40;
$link-decoration: none;
$link-color: #262b40;
$border-radius: .3rem;
$input-btn-focus-width: .2rem;
$form-check-input-width: 1.2em;
$form-check-input-border-radius: .2rem;
$headings-font-weight: 500;
$form-label-font-weight: 500;
$line-height-base: 1.7;
$alert-padding-y: .5rem;
$alert-padding-x: 1rem;
$font-size-base: .9rem;
$font-size-sm: .85rem;
$transition-base: all .15s ease-in-out;
$grid-gutter-width: 1rem;
$small-font-size: .85em;
$font-weight-bold: 500;
$btn-close-focus-shadow: none;
$primary: #5d52fd;
$green: #44ba44;
$cyan: #0695af;
$yellow: #e8bf3a;
$btn-close-width: .75em;
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: 1.2rem / 4;
$dropdown-divider-margin-y: 1rem / 3;
$dropdown-border-color: #dee2e6;
$dropdown-link-hover-bg: #e9ecef;
$dropdown-border-width: 0;
$dropdown-padding-x: .25rem;
$dropdown-padding-y: .25rem;
$modal-header-padding-y: .85rem;
$modal-header-padding-x: $modal-header-padding-y * 1.5;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-content-border-width: 0;
$table-cell-padding-x: .75rem;

$accordion-padding-y: .6rem;
$accordion-padding-x: 1.2rem;

$popover-border-width: 0;
$popover-header-bg: $primary;
$popover-header-color: #FFF;
$popover-font-size: $font-size-base;
$popover-body-padding-y: 1rem / 2;

$pagination-padding-y: .3rem;
$pagination-padding-x: .6rem;
$pagination-bg: #f1f1f1;
$pagination-border-color: rgba(0, 0, 0, .05);
$pagination-active-border-color: rgba(0, 0, 0, .05);
$pagination-focus-box-shadow: none;
$pagination-disabled-bg: #f1f1f1;

$list-group-hover-bg: #e9ecef;
$badge-border-radius: .2rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

