<div class="widget half p-3 widget_{{ widget.id }}" data-order="{{ path('widget_order', {'widgetId': widget.id, 'order': '0'}) }}">
    {# Action Button #}
    {% embed 'admin/widgets/actions.html.twig' %}{% endembed %}

    <div class="d-flex full-height">
        <div class="btn btn-success d-flex flex-column align-items-center justify-content-center p-4 text-white full-height">
            <span class="fs-1">{{ widget.data.result }}</span>
            <span class="fs-4">{{ 'widget.user_info.count'|trans }}</span>
        </div>
    </div>
</div>
