.ajax-loader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1055;
  line-height: 0;
  .bar{
    background: #009bdc;
    box-shadow: 0 0 5px #1f86b1;
    height: 3px;
    width: 10%;
    transition: .2s all;
  }
}