.floating-menu {
  float: right;
  &:hover {
    > ul {
      visibility: visible;
      opacity: 1;
      width: auto;
    }
  }
  > a {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
  }
  > ul {
    background: $color;
    border-radius: 3px 0 0 3px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    height: 100%;
    white-space: nowrap;
    display: inline-block;
    visibility: hidden;
    padding: 0 5px;
    list-style-type: none;
    transition: $transition;
    box-shadow: 0 0 10px -2px #AAA;
    li {
      display: inline-block;
      height: 100%;
      a {
        display: table;
        color: #DDD;
        width: 100%;
        height: 100%;
        clear: both;
        text-align: inherit;
        background: transparent;
        border: none;
        transition: $transition;
        &:hover {
          color: #FFF;
        }
        i {
          vertical-align: middle;
          display: table-cell;
          font-size: $font-size-base + .5;
          padding: 8px;
        }
      }
      .text {
        display: none;
      }
    }
  }
}
