/*======================================================
 Main Navigation (Left)
=======================================================*/

.left-nav {
  background: $main_nav_background;

  .logo {
    padding: 20px 15px;
    background: transparent;
    text-align: center;
    border: none;
    display: table;
    width: 100%;
    a {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      max-height: 75px;
      max-width: 100%;
    }
    &:hover {
      background: transparent;
    }
  }
}

#nav_main {
  > ul {
    list-style-type: none;
    padding: 0;
    > li {
      position: relative;
    }
    > li > a {
      background-color: transparent;
      border: none;
      text-align: center;
      position: relative;
      margin: 0;
      padding: 10px;
      color: $main_nav_text;
      transition: $transition;
      border-radius: 0;
      display: block;
      i {
        font-size: $font-size-base + 1.286;
      }
      span {
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        line-height: $font-size-base + .3;
        letter-spacing: .02em;
      }
    }
    > li {
      &:hover > ul {
        visibility: visible;
        opacity: 1;
        width: 200px;
      }
      &:hover > a,
      &.active > a {
        background-color: $main_nav_link_hover_background;
        &:after {
          display: block;
          border: 9px solid transparent;
          border-right-color: $content-wrapper-background;
          position: absolute;
          content: " ";
          top: 0;
          right: 0;
          margin: 31px 0;
          z-index: 100;
        }
      }
      &:hover > a {
        &:after {
          border-right-color: $main_nav_popup_background;
        }
      }
    }
    &:hover > li.active {
      > a {
        background: transparent;
        &:after {
          display: none;
        }
      }
      &:hover > a {
        background-color: $main_nav_link_hover_background;
        &:after {
          display: block;
        }
      }
    }
  }

  .menu_level_1 {
    position: absolute;
    background: $main_nav_popup_background;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    left: 100%;
    z-index: 99;
    visibility: hidden;
    width: 0;
    opacity: 0;
    box-shadow: 2px 0 10px 0 rgba($black, .15), 0 0 1px 0 rgba(0, 0, 0, 0.20);
    transition: all .2s linear;
    padding: 10px 0 10px;
    li {
      list-style-type: none;
      padding: 0;
      & + .header .title {
        border-top: 1px solid #e9e9e9;
        padding-top: 12px !important;
        margin-top: 8px;
      }
      &.header .title {
        padding: 0 15px 5px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        color: lighten($text_color, 20%);
        font-size: .9rem;
        text-transform: uppercase;
        i {
          font-size: $font-size-base + .2;
          vertical-align: text-top;
          margin-right: 8px;
        }
      }
      &.divider {
        height: 1px;
        margin: 6px 0;
        overflow: hidden;
        background-color: $border-color;
      }
      a {
        display: block;
        white-space: nowrap;
        padding: .55rem 1.3rem;
        color: $text-color;
        transition: $transition;
        position: relative;
        width: 100%;
        i {
          font-size: $font-size-base + .4;
          margin-right: 15px;
          min-width: 18px;
          vertical-align: middle;
          height: 20px;
        }
        &:hover {
          background-color: $dropdown-link-hover-bg;
          color: #000;
        }
        &:active {
          color: $component-active-color;
          background: $dropdown-link-active-bg;
        }
      }
      &.active > a {
        background: $main_nav_background;
        color: #FFF;
      }
    }
    .nav {
      flex-direction: column;
    }
  }

  .menu_level_2 {
    padding-left: 10px;
    margin-left: 20px;
    border-left: 3px solid $main_nav_background;
    li {
      a {
        display: block;
        white-space: nowrap;
        padding: 5px 10px;
        color: $text-color;
        transition: $transition;
        position: relative;
        width: 100%;
        i {
          font-size: $font-size-base + .4;
          margin-right: 15px;
          min-width: 18px;
          vertical-align: middle;
          height: 20px;
        }
        &:hover {
          background-color: $main_nav_link_hover_background;
          color: #000;
        }
        &:active {
          background-image: -webkit-radial-gradient(circle, #cfd9db 10%, #ECF0F1 11%);
          background-image: -o-radial-gradient(circle, #cfd9db 10%, #ECF0F1 11%);
          background-image: radial-gradient(circle, #cfd9db 10%, #ECF0F1 11%);
          background-repeat: no-repeat;
          -webkit-background-size: 1000% 1000%;
          background-size: 1000%;
          color: #000;
        }
      }
      &.active a {
        background: $main_nav_background;
        color: #FFF;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  #nav_main {
    > ul > li {
      > a {
        padding: 10px;
        i {
          vertical-align: middle;
        }
        .text {
          font-size: $font-size-base - .1;
        }
      }
      &:hover > a,
      &.active > a {
        &:after {
          margin: 28px 0;
        }
      }
    }

  }
}

@media only screen and (max-width: 544px) {
  .left-nav {
    .logo {
      padding: 15px 10px;
    }
    #nav_main {
      > ul > li {
        > a {
          line-height: 0;
          padding: 8px;
          i {
            font-size: $font-size-base + .7;
            vertical-align: middle;
          }
          span {
            display: none;
          }
        }
        &:hover > a,
        &.active > a {
          &:after {
            border-width: 7px;
            margin: 14px 0;
          }
        }
      }

      .menu_level_1 {
        > li {
          > a {
            padding: 6px 16px;
            i {
              font-size: $font-size-base + .7;
            }
          }
        }
      }
    }
  }
}
