<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pdAdmin</title>
    <style>
        body {
            text-align: center;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <h3>pdAdmin - Powerful Admin Dashboard for Symfony 5</h3>
        <a href="https://github.com/appaydin/pd-admin" target="_blank">Documentation</a>
        <a href="{{ path('security_login') }}">Go Dashboard</a>
    </div>
</body>
</html>
