{# Document #}
{% block head_title %}{{ title('440_not_found'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text text-center">{{ '440_not_found'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
        <p class="alert alert-danger text-center">
            {{ '440_not_found_description'|trans }}
        </p>
{% endblock %}
