<div id="cacheModal" class="modal fade confirm" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h4><i class="material-icons">refresh</i></h4></div>
            <div class="modal-body">
                {{ 'admin_refresh_cache_desc'|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'close'|trans }}</button>
                <button type="submit" id="refreshCache" class="btn btn-success">{{ 'refresh'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<script>
  $(function () {
    $('#refreshCache').click(function () {
      $.ajax({
        url: '{{ path('admin_settings_clearcache') }}',
        dataType: 'json',
        complete: function (response) {
          $('#cacheModal').modal('hide');
        }
      });
    });
  })
</script>
